
@{
    Layout = "_Layout";
}

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nome Fantasia</label>
        <input class="form-control" type="text" placeholder="Digite o nome fantasia">
    </div>
</form>