@model List<CadastroDeFornecedores.Models.Empresa>
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Empresas";
}

<a href="/empresa/cadastrar" class="btn btn-primary">Cadastrar</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nome fantasia</th>
            <th scope="col">Estado</th>
            <th scope="col">CNPJ</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <td>
                    <a href="/fornecedor/Index/@empresa.Id" class="far fa-file-alt"></a>
                </td>
                <td>@empresa.NomeFantasia</td>
                <td>@empresa.UF</td>
                <td>@empresa.CNPJ</td>

                <td>
                    <a href="/empresa/editar/@empresa.Id" class="fas fa-edit"></a>
                </td>
                <td>
                    <a href="/empresa/excluir/@empresa.Id" class="fas fa-trash-alt"></a>
                </td>
            </tr>
        }
    </tbody>
</table>